body{
	background:url(../images/background.jpg);
	background-size: 100%;
	/*background: absolute;
	z-index: 1;*/
}

form{
	margin: 70px 50px 0px 0px;
	/*margin-right: 50px;*/
	float: right;
}

#sciButtons{
	font-family: 'Pacifico', cursive;
}

.imgRateDiv{
	float: left;
	margin: 0px 3px 0px 3px;
}

.buttonStyle{
	margin-right: 5px;
}

.btn{
	background-color: white;
	font-size: 1.4em;
}