body{
	background:url(../images/background.jpg);
	background-size: 100%;
	background: absolute;
	z-index: 1;
}

form{
	margin-top: 75px;
	margin-right: 50px;
	float: right;
}

#sciButtons{
	font-family: 'Pacifico', cursive;
	font-size: 2em;
}

.imgRateDiv{
	float: left;

}

.buttonStyle{
	margin-right: 5px;
}

.btn{
	background-color: white;

}